{% extends "base.html" %}
{% block title%}Добавить продукт{% endblock title %}
{% block content %}
<h1>Добавить продукт</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Название продукта:</label>
        <input type="text" id="name" name="name"><br>
        <label for="quantity">Количество:</label>
        <input type="number" id="quantity" name="quantity"><br>
        <label for="price">Цена:</label>
        <input type="number" id="price" name="price"><br>
        <input type="submit" value="Добавить">
    </form>
{% endblock %}
