{% extends "base.html" %}
{% block title%}Ваша корзина{% endblock title %}
{% block content %}
<form action="{% url 'shop:search_results' %}" method="get">
	<input
	  type="search"
	  name="q"
	  placeholder="Поиск по имени..."
	  class="form-control"
	/>
  </form>
<div class="container py-5">
	{% for item in cart_items %}
	<div>
		<p>{{ item.product.name }} ({{ item.quantity }})</p>
		<p>Цена: {{ item.product.price }}₽</p>
		<a href="{% url 'shop:remove_from_cart' item.id %}">Удалить</a>
	</div>
	{% empty %}
	<p>Ваша корзина пуста</p>
	{% endfor %}
	</div>
	<p>Итого: {{ total_price }}₽</p>
	<a href="{% url 'shop:product_list' %}">Продолжить</a>
{% endblock %}
