{% extends 'base.html' %}
{% block title%}Список продуктов{% endblock title %}
{% block content %}
<div class="container py-5">
  <h1>Список продуктов</h1>
  <p><a href="{% url 'shop:add_product' %}">Новый продукт</a></p>

  <ul>
    {% for product in products %}
    <li>
      <img src="{{ product.image }}" alt="{{ product.name }}" width="200" height="150">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>Цена: {{ product.price }}₽</p>
      <a href="{% url 'shop:edit_product' product.id %}">Редактировать</a>
      <a href="{% url 'shop:delete_product' product.id %}">Удалить</a>
      <a href="{% url 'shop:add_to_cart' product.id %}">В корзину</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}